<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>学生管理系统</title>
</head>
<body>
  <h1>欢迎使用学生管理系统</h1>
  {% if error %}
    <p style="color: red;">{{ error }}</p>
  {% endif %}
  {% if message %}
    <p style="color: green;">{{ message }}</p>
  {% endif %}
  <form method="post" action="/login">
    <label>用户名：<input type="text" name="username"></label>
    <br><br>
    <label>密 码：<input type="password" name="password"></label>
    <br><br>
    <input type="submit" value="登 录">
  </form>
  <hr>
  <form method="post" action="/register">
    <label>用户名：<input type="text" name="username"></label>
    <br><br>
    <label>密 码：<input type="password" name="password"></label>
    <br><br>
    <input type="submit" value="注 册">
  </form>
</body>
</html>